body{
	padding: 16px;
	background-color: #ad2843;
}
h1{
	font-family: 'Sanchez', serif;
	text-align: center;
}

/*p{
	font-size: 20px;
	font-family: 'Sanchez', serif;
	text-align: center;
}

*/
/*.mothercontainer{
	display: grid;
	min-height: 100vh;
	grid-template-columns: auto;
	grid-template-rows: 100px 200px;
}
*/

.dm_place{
	font-size: 16px;
	font-family: 'Sanchez', serif;

}

.dm_meaning{
	font-size: 26px;
}

.container{
	padding: 16px;
	width: 100vw;
	height: auto;

	/*display: grid;
	grid-template-columns: 100px auto 200px;*/
}

.dm_image{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

.dm_image:hover{
	transform: scale(1.5, 1.5);
}

.dm_meaning, .dm_place{
	font-family: 'Sanchez', serif;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.dm_box{
	text-align: center;
}
/*.img{
	display: block;
	text-align: center;
	margin: auto;
}
*/
.box{
	/*width: 100vw;
	height: auto;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	column-gap: 15px;
	
}


.filter{
	padding: 10px;
	margin: 18px;
	height: 200%;
	text-align: center;
}


/*span{
	display: inline-block;
	cursor: pointer;
	font-family: 'Sanchez', serif;
	text-align: center;
	font-size: 8px;


}*/


.circle_one{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-family: 'Sanchez', serif;
	text-align: center;
	line-height: 80px;
	background-color: #ff0000;

}

.circle_two{
	display: inline-block;
	width: 80px;
	height: 80px;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color: #db2a27;
}

.circle_three{
	display: inline-block;
	width: 80px;
	height: 80px;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color: #ff2f00;
}

.circle_four{
	display: inline-block;
	width: 80px;
	height: 80px;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color: #801a18;
}

.circle_five{
	display: inline-block;
	width: 80px;
	height: 80px;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color: #ff7885;
}

.circle_six{
	display: inline-block;
	width: 80px;
	height: 80px;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color: #7d4545;
}

.circle_seven{
	display: inline-block;
	width: 80px;
	height: 80px;
	font-family: 'Sanchez', serif;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color: #e0b1b9;
}


@media screen and (max-width: 480px){
	p{
		font-size: 14px;
	}

	.circle_one, .circle_two, .circle_three, .circle_four, .circle_five, .circle_six, .circle_seven{
		width: 40px;
		height: 40px;
		font-size: 7px;
	}
}