/*@font-face{
	font-family: terminal-grotesque;
	src: url("./font/terminal-grotesque-webfont.woff") format("woff");
	src: url("./font/terminal-grotesque-webfont.woff2") format("woff2");
}
*/
/*@font-face{
	font-family: 'VTF MisterPixel Regular';
	src: url("../font/mister_pixel_regular-webfont.woff") format("woff"),
		 url("../font/mister_pixel_regular-webfont.woff2") format("woff2");
}*/

/*@font-face{
	font-family: SILKSCREEN;
	src: url("./font/slkscrb-webfont.woff") format("woff");
}*/
@font-face {
    font-family:'VTF MisterPixel';
    src: url('VTFMisterPixel.eot');
	src: url('VTFMisterPixel.eot?#iefix') format('embedded-opentype'),
		url('VTFMisterPixel.woff2') format('woff2'),
		url('VTFMisterPixel.woff') format('woff'),
		url('VTFMisterPixel.svg#VTFMisterPixel') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

body{
	padding: 16px;
	border: 20px solid black;
}


h1{
	font-family: 'VTF MisterPixel';
	font-size: 60px;
	background-color: #e8f6ff;
}

/*.move{
	animation :leftToright 20s linear;	
	animation-fill-mode: forwards;
	animation-direction: alternate;	
	margin: 0;
	display: inline-block;
	white-space: nowrap;	
	transform: translateX(-100%);
	border: none;
}

@keyframes leftToright {

	
100% {
		transform: translateX(100%);
	}
}
*/
a{
	font-family: 'VTF MisterPixel';
	font-size: 20px;
	text-decoration: none;
}

a:visited{
	color: #1a87c7;
}

a:hover{
	color: #64d40f;
}

div{
	border: 1.5px solid;

}

.color_One, .color_Two, .color_Three, .color_Four, .color_Five, .color_Six, .color_Seven, .color_Eight, .color_Nine, .color_Ten, .color_Eleven
,.color_Twelve, .color_Thirteen, .color_Fourteen, .color_Fifteen, .color_Sixteen, .color_Seventeen, .color_Eighteen, .color_Nineteen
,.color_Twenty, .color_TwentyOne, .color_TwentyTwo, .color_TwentyThree, .color_TwentyFour.clear{
	border: none;
	cursor: pointer;
}

#delete{
	/*margin: 50px; */
	width: 100px;
	height: 50px;
	text-align: center;
	font-family: 'VTF MisterPixel';
	font-size: 20px;
	margin: 10px;
	border-radius: 3px;
	background: #dbedf0;


}

.grid-container{
	border: 1px solid;
	/*margin-top: 20px;
	margin-bottom: 20px; */
	margin: auto;
	display: grid;
	width: 800px;
    height: 800px;
	grid-template-columns: repeat(36, 1fr); 
	grid-template-rows: repeat(36, 1fr); 
}

.button-container{
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#save, #submit{
	margin: 20px;
	font-family: 'VTF MisterPixel';
	border-radius: 3px;
	background: #dbedf0;
	font-size: 25px;

}

.flex-container{
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	/*justify-content: spa;*/
	width: 40vw;
  	height: 30vh;
  	border: none;
  	background-color: #e8f6ff;

}

.color_One{
	/*position: relative;*/
	width: 30px;
	height: 30px;
	background-color: red;
	margin: 10px;
}

.color_Two{
	/*position: relative;*/
	width: 30px;
	height: 30px;
	background-color: #ff00f2;
	margin: 10px;
}

.color_Three{
	/*position: relative;*/
	width: 30px;
	height: 30px;
	background-color: yellow;
	margin: 10px;
}

.color_Four{
	width: 30px;
	height: 30px;
	background-color: orange;
	margin: 10px;
}
.color_Five{
	width: 30px;
	height: 30px;
	background-color: #1900ff;
	margin: 10px;
}

.color_Six{
	width: 30px;
	height: 30px;
	background-color: #00ff08;
	margin: 10px;
}

.color_Seven{
	width: 30px;
	height: 30px;
	background-color: #a200ff;
	margin: 10px;
}

.color_Eight{
	width: 30px;
	height: 30px;
	background-color: black;
	margin: 10px;
}

.color_Nine{
	width: 30px;
	height: 30px;
	background-color: #ff9d96;
	margin: 10px;
}

.color_Ten{
	width: 30px;
	height: 30px;
	background-color: #ff8af9;
	margin: 10px;
}
.color_Eleven{
	width: 30px;
	height: 30px;
	background-color: #fbff8a;
	margin: 10px;
}
.color_Twelve{
	width: 30px;
	height: 30px;
	background-color: #ffe68a;
	margin: 10px;
}

.color_Thirteen{
	width: 30px;
	height: 30px;
	background-color: #9cbeff ;
	margin: 10px;
}
.color_Fourteen{
	width: 30px;
	height: 30px;
	background-color: #9cff9f;
	margin: 10px;
}
.color_Fifteen{
	width: 30px;
	height: 30px;
	background-color: #d7a3ff;
	margin: 10px;
}
.color_Sixteen{
	width: 30px;
	height: 30px;
	background-color: #bdbdbd;
	margin: 10px;
}
.color_Seventeen{
	width: 30px;
	height: 30px;
	background-color: #780000;
	margin: 10px;
}
.color_Eighteen{
	width: 30px;
	height: 30px;
	background-color: #91006f;
	margin: 10px;
}
.color_Nineteen{
	width: 30px;
	height: 30px;
	background-color: #878a00 ;
	margin: 10px;
}

.color_Twenty{
	width: 30px;
	height: 30px;
	background-color: #6b5400;
	margin: 10px;
}
.color_TwentyOne{
	width: 30px;
	height: 30px;
	background-color: #080052;
	margin: 10px;
}
.color_TwentyTwo{
	width: 30px;
	height: 30px;
	background-color: #026905;
	margin: 10px;
}
.color_TwentyThree{
	width: 30px;
	height: 30px;
	background-color: #3f0070;
	margin: 10px;
}

.color_TwentyFour{
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
	margin: 10px;
}

/*#customCursor{
	position: absolute;
	width: 20px;
	height: 40px;
	border: none;
}*/

#canvas{
	border: none;
}

@media screen and (max-width: 750px){

body{
	
	border: 10px solid black;
}

h1{
	font-family: 'VTF MisterPixel';
	font-size: 30px;
	background-color: #e8f6ff;
}

a{
	font-family: 'VTF MisterPixel';
	font-size: 18px;
	text-decoration: none;
}

#delete{
	/*margin: 50px; */
	width: 50px;
	height: 25px;
	text-align: center;
	font-family: 'VTF MisterPixel';
	font-size: 16px;
	margin: 10px;
	border-radius: 3px;
	background: #dbedf0;


}

.grid-container{
	border: 1.5px solid;
	/*margin-top: 20px;
	margin-bottom: 20px; */
	margin: auto;
	display: grid;
	width: 600px;
    height: 600px;
	grid-template-columns: repeat(36, 1fr); 
	grid-template-rows: repeat(36, 1fr); 
}

.flex-container{
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	/*justify-content: spa;*/
	width: 20vw;
  	height: 15vh;
  	border: none;
  	background-color: #e8f6ff;

}


}
/*#back{
	width: 0;
	height: 0;
	border-top: solid 15px transparent;
	border-right: solid 15px #697b91;
	border-bottom: solid 15px transparent;
	border-left: solid 15px transparent;

}*/