body{
	padding: 16px;
	height: 100%;
	width: 100%;
}

.container{
	padding: 16px;
	width: 100vw;
	height: 100vh;
}

p{
	position: absolute;
	font-size: 250px;
	font-family: 'Sanchez', serif;
	text-align: center;
	color: #450404;
	animation: fadeout 5s ease forwards;
}


@keyframes fadeout{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


.randam{
	width: 100px;
	height: 50px;
	position: absolute;
	right: 30px;
	/*bottom: 50px;*/
	color: white;
	border-radius: 100vh;
	cursor: pointer;
	background-color: #ff0000;
	border: none;
}

.moji{
	width: 100px;
	height: 50px;
	position: absolute;
	right: 30px;
	bottom: 100px;
	color: white;
	border-radius: 100vh;
	cursor: pointer;
	background-color: #ff0000;
	border: none;
}
/*
.container{
	width: 100vw;
	height: 50vh;
}*/

.word{
	font-size: 50px;
	font-family: 'Sanchez', serif;
	position: absolute;
	cursor: pointer;
}

#word_1, #word_2, #word_3{
	color: #ff0000;
}

#word_4, #word_5, #word_6{
	color: #db2a27;
}

#word_7, #word_8{
	color: #ff2f00;
}

#word_10, #word_11{
	color: #7d4545;
}
#word_12, #word_13, #word_14{
	color: #ff7885;
}

#word_15, #word_16, #word_17, #word_18, #word_19{
	color: #801a18;
}

#word_20, #word_9{
	color: #e0b1b9;
}

@media screen and (max-width: 480px){
	.word{
		font-size: 30px;
	}
	p{
		font-size: 50px;
		animation: none;
	}

	button{
	width: 50px;
	height: 25px;
	}

	.moji{

	}
	}
/*.animation{
	animation-name: move;
	transform: scale(0.6, 0.6);
}*/

/*.word_1{
	
	animation: move  2s linear;
	transform-origin: center;
}


.word_2{
	
}

@keyframes move{
	to {
		transform: scale(2);
	}
}*/