@font-face{
  font-family: "almendra-regular";
  src: url("./font/almendra-regular-webfont.woff") format("woff");
  src: url("./font/almendra-regular-webfont.woff2") format("woff2");
}

body{
	background-color: #000000;
	padding: 16px;
}


p{
	font-family: "almendra-regular";
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	margin: 0;
	animation: showUp 8s;
	
}

a{
	color: #000000;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
}

a:visited{
	color: #6E7FD9;

}

.hexagonpc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 1.5s ease-in;
}

.hexagon1pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}


.hexagon2pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 4s;
	animation-fill-mode: backwards;
}

.hexagon3pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 6s;
	animation-fill-mode: backwards;
}

.hexagon4pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 8s;
	animation-fill-mode: backwards;
}

.hexagon5pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 10s;
	animation-fill-mode: backwards;
}

.hexagon6pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 12s;
	animation-fill-mode: backwards;
}

.hexagon7pc{
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 14s;
	animation-fill-mode: backwards;
}

.hexagon8pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 16s;
	animation-fill-mode: backwards;
}

.hexagon9pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 18s;
	animation-fill-mode: backwards;
}

.hexagon10pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 20s;
	animation-fill-mode: backwards;
}

.hexagon11pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 22s;
	animation-fill-mode: backwards;
}


.hexagon12pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 24s;
	animation-fill-mode: backwards;
}

.hexagon13pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 26s;
	animation-fill-mode: backwards;
}

.hexagon14pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 28s;
	animation-fill-mode: backwards;
}


.hexagon15pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 30s;
	animation-fill-mode: backwards;
}

.hexagon16pc{
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 32s;
	animation-fill-mode: backwards;
}


.hexagon17pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 34s;
	animation-fill-mode: backwards;
}


.hexagon18pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 36s;
	animation-fill-mode: backwards;
}


.hexagon19pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 38s;
	animation-fill-mode: backwards;
}
.hexagon20pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 40s;
	animation-fill-mode: backwards;
}

.hexagon21pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 42s;
	animation-fill-mode: backwards;
}

.hexagon22pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 44s;
	animation-fill-mode: backwards;
}

.hexagon23pc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 46s;
	animation-fill-mode: backwards;
}


.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}




.item{
	
	flex-flow: column;

}



p.text{
	text-align: center;
	animation: showUp 2s ease-in;
}

.begin{
	font-size: 25px;
	margin-top: 50px;
	animation: none;
}
.end{
	margin-top: 100px;
	animation: none;
}
/*.hexagonsc, .hexagon1sc, .hexagon2sc, .hexagon3sc, .hexagon4sc, .hexagon5sc, .hexagon6sc, .hexagon7sc, .hexagon8sc, .hexagon9sc, .hexagon10sc, .hexagon11sc, .hexagon12sc,.hexagon13sc, .hexagon14sc,.hexagon15sc, .hexagon16sc, .hexagon17sc{
	display: none !important;
}
*/
@keyframes showUp{
	0%{
		opacity: 0%;
	}

	50%{
		opacity: 50%;
	}

	100%{
		opacity: 100%
	}
}


@media screen and (max-width: 750px){
	img{
		max-width: 100%;
	}

	/*body{
		
		background-color: #FFFFFF;
	}*/

	p{
/*	color: #000000;*/
	font-size: 18px;
	text-align: center;
	margin: 0;
	animation: showUp 8s;
	
}


/*.hexagonsc{
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 1.5s ease-in;
}

.hexagon1sc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 4s;
	animation-fill-mode: backwards;
}

.hexagon2sc {
	width: 1000px;
	height: 400px;
	z-index: 1;
	margin-bottom: -200px;
	animation: showUp 2s ease-in;
	animation-delay: 4s;
	animation-fill-mode: backwards;
}
*/

a{
	color: #983131;
	
}



a:visited{
	color: #983131;

}

/*.hexagonpc, .hexagon1pc, .hexagon2pc, .hexagon3pc, .hexagon4pc, .hexagon5pc, .hexagon6pc, .hexagon7pc, .hexagon8pc, .hexagon9pc, .hexagon10pc, .hexagon11pc, .hexagon12pc,.hexagon13pc, .hexagon14pc,.hexagon15pc, .hexagon16pc, .hexagon17pc{
	display: none !important;
}*/