@font-face{
  font-family: "almendra-regular";
  src: url("./font/almendra-regular-webfont.woff") format("woff");
  src: url("./font/almendra-regular-webfont.woff2") format("woff2");
}

body{
	background: #000000;
	padding: 16px;
}



.text1{
	color: #FFFFFF;
	font-family: "almendra-regular";
	animation :leftToright 15s linear;
	
}

@keyframes leftToright {

	0%{
		transform: translateX(-100%);


	}

	100% {
		transform: translateX(0);
	}



.text2{
	color: #FFFFFF;
	font-family: "almendra-regular";
	animation: uep 15s linear;
}

/*@keyframes diagnal{
	0%{
		transform: translate(0);
	}

	100%{
		transform: translate(50px, 50px);

	}

	}

}*/

@keyframes uep {

	50%{
   transform: translate3D(500px, -500px, 0);
  }
}
